version: "3.8"

services:
  backend:
    build:
      context: ./backend
    ports:
      - "8001:8000"
    networks:
      - app-network

  simulator:
    build:
      context: ./simulator
    depends_on:
      - backend
    networks:
      - app-network
    volumes:
      - ./simulator/trail_route.gpx:/app/trail_route.gpx

  frontend:
    build:
      context: ./frontend
    ports:
      - "8081:80"
    networks:
      - app-network
    volumes:
      - ./simulator/trail_route.gpx:/usr/share/nginx/html/gpx/trail_route.gpx

networks:
  app-network:
    driver: bridge
