apiVersion: v1
kind: Service
metadata:
  name: backend-service
spec:
  selector:
    app: backend
  ports:
  - protocol: TCP
    port: 8000
    targetPort: 8000
  # Cambiar a NodePort para que el WebSocket sea accesible desde el navegador
  type: NodePort 