apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: sd2526/simuladados-frontend:b4feb6b6114e747855eb37c52df514531fe71504
        ports:
        - containerPort: 80