apiVersion: apps/v1
kind: Deployment
metadata:
  name: simulator-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: simulator
  template:
    metadata:
      labels:
        app: simulator
    spec:
      containers:
      - name: simulator
        image: sd2526/simuladados-simulator:6e5c92ee469af6e74b7d165dac21e9ad549f31c3
        env:
        - name: BACKEND_URL
          value: "http://backend-service:8000"