apiVersion: apps/v1
kind: Deployment
metadata:
  name: simulator-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: simulator
  template:
    metadata:
      labels:
        app: simulator
    spec:
      containers:
      - name: simulator
        image: sd2526/simuladados-simulator:b4feb6b6114e747855eb37c52df514531fe71504
        env:
        - name: BACKEND_URL
          value: "http://backend-service:8000"