apiVersion: apps/v1
kind: Deployment
metadata:
  name: simulator-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: simulator
  template:
    metadata:
      labels:
        app: simulator
    spec:
      containers:
      - name: simulator
        image: sd2526/simuladados-simulator:0d8dfa1e2fd7f049822def93b6c07c02f0694196
        env:
        - name: BACKEND_URL
          value: "http://backend-service:8000"