name: CI Pipeline

on:
  push:
    branches:
      - main 

    paths: 
      - 'backend/**'
      - 'simulator/**'
      - 'frontend/**'
  
jobs:
  build-and-push:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service: [backend, simulator, frontend]
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build and push Docker image for ${{ matrix.service }}
        uses: docker/build-push-action@v4
        with:
          context: . # Use the root directory as context for all builds
          file: ./${{ matrix.service }}/Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/simuladados-${{ matrix.service }}:${{ github.sha }}

  update-manifests:
    needs: build-and-push
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Update Kubernetes manifests
        run: |
          sed -i 's|image:.*-backend:.*|image: ${{ secrets.DOCKERHUB_USERNAME }}/simuladados-backend:${{ github.sha }}|' k8s/backend-deployment.yaml
          sed -i 's|image:.*-simulator:.*|image: ${{ secrets.DOCKERHUB_USERNAME }}/simuladados-simulator:${{ github.sha }}|' k8s/simulator-deployment.yaml
          sed -i 's|image:.*-frontend:.*|image: ${{ secrets.DOCKERHUB_USERNAME }}/simuladados-frontend:${{ github.sha }}|' k8s/frontend-deployment.yaml

      - name: Commit and push changes
        run: |
          git config --global user.name "GitHub Actions Bot"
          git config --global user.email "actions-bot@github.com"
          git add k8s/*.yaml
          git commit -m "CI: Update image tags to ${{ github.sha }}" || true
          git push
